*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: auto;
    width: 90%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

form{
    padding: 2rem;
}

#num-input{
    display: block;
    width: 100%;
    height: 5rem;
    border-radius: 3rem;
    margin: auto;
    margin-bottom: 1rem;
    border: none;
    font-size: 3em;
    text-align: right;
    padding-right: 2rem;
    color: transparent;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#num-input:focus{
    outline: none;
}

.btn{
    border: none;
    height: 85px;
    width: 100%;
    border-radius: 3rem;
    font-size: 2em;
    font-weight: lighter;
    transition: 0.3s;
}

.btn:focus{
    outline: none;
}

#zero{
    grid-column: 1/3;
}

#clear{
    grid-column: 1/3;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #eeeeee;
    }
    #num-input{
        text-shadow: 0 0 0 black;
        background-color: #eeeeee;
        box-shadow: inset 4px 4px 10px #cfcfcf,
                    inset -4px -4px 10px #ffffff;
    }
    .btn{
        background-color: #eeeeee;
        box-shadow: 4px 4px 10px#cfcfcf,
                    -4px -4px 10px #ffffff;
    }
    .btn:hover{
        background-color: #e6e6e6;
    }
    .btn:active{
        background-color: #cfcfcf;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #313131;
    }
    #num-input{
        text-shadow: 0 0 0 #f6f6f6;
        background-color: #313131;
        box-shadow: inset 4px 4px 10px #242424,
                    inset -4px -4px 10px #3a3a3a;
    }
    .btn{
        color: white;
        background-color: #313131;
        box-shadow: 4px 4px 10px#242424,
                    -4px -4px 10px #3a3a3a;
    }
    .btn:hover{
        background-color: #2b2b2b;
    }
    .btn:active{
        background-color: #242424;
    }
}